
assignment1.zip
assignment1/.metadata
assignment1/analysis_options.yaml
assignment1/android/app/build.gradle
assignment1/android/app/src/debug/AndroidManifest.xml
assignment1/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
assignment1/android/app/src/main/res/values-night/styles.xml
assignment1/android/app/src/main/res/values/styles.xml
assignment1/android/app/src/profile/AndroidManifest.xml
assignment1/android/build.gradle
assignment1/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
assignment1/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
assignment1/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
assignment1/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
assignment1/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
assignment1/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
assignment1/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
assignment1/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
assignment1/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
assignment1/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
assignment1/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
assignment1/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
assignment1/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
assignment1/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
assignment1/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-1024x1024@1x.png
assignment1/ios/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
assignment1/ios/Runner/AppDelegate.swift
assignment1/ios/Runner.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
assignment1/ios/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
assignment1/ios/Runner.xcworkspace/contents.xcworkspacedata
assignment1/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
assignment1/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
assignment1/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
assignment1/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
assignment1/ios/Runner.xcodeproj/project.pbxproj
assignment1/ios/Flutter/Release.xcconfig
assignment1/ios/Flutter/Debug.xcconfig
assignment1/ios/Flutter/AppFrameworkInfo.plist
assignment1/assets/images/image.jpg
assignment1/android/settings.gradle
assignment1/android/gradle/wrapper/gradle-wrapper.properties
assignment1/android/gradle.properties
assignment1/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage.png
assignment1/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@2x.png
assignment1/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@3x.png
assignment1/ios/Runner/Base.lproj/LaunchScreen.storyboard
assignment1/ios/Runner/Base.lproj/Main.storyboard
assignment1/ios/Runner/Info.plist
assignment1/ios/Runner/Runner-Bridging-Header.h
assignment1/pubspec.lock
assignment1/pubspec.yaml
assignment1/test/widget_test.dart
assignment1/.gitattributes.txt
assignment1/android/app/src/main/AndroidManifest.xml
assignment1/android/app/src/main/kotlin/com/example/assignment1/MainActivity.kt
assignment1/android/app/src/main/res/drawable-v21/launch_background.xml
assignment1/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
assignment1/android/app/src/main/res/drawable/launch_background.xml
assignment1/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
assignment1/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
assignment1/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
assignment1/ios/Runner/Assets.xcassets/LaunchImage.imageset/Contents.json
assignment1/ios/Runner/Assets.xcassets/LaunchImage.imageset/README.md
